.title {
    font-size: 60px !important;
}

.subtitle {
    font-size: 40px !important;
}

h2 {
    font-size: 40px !important;
}

h3 {
    font-size: 35px !important;
}

p, ul, li, dd, dt, strong {
    font-size: 30px !important;
}

caption {
    font-size: 25px !important;
}

td, th, aside, figcaption, p.aside-footnotes {
    font-size: 20px !important;
    font-family: monospace;
}

figcaption {
    justify-content: right !important;
    align-items: right !important;
    display: flex !important;
}

.citation, aside, p.aside-footnotes, a.aside-footnotes {
    font-size: 20px !important; 
    bottom: 0 !important;
}

.date {
    font-size: 20px;
    font-family: monospace;
}

.mono {
    font-family: monospace;
    font-size: 30px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.box {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    background: lightgrey;
    color: black
}

#title-slide {

    .quarto-title-author-name, .quarto-title-affiliation {
        font-size: 30px;
    }

    h1.title {
        font-size: 30px;
    }

    p.subtitle {
        font-size: 22px !important;
        color: grey;

    }

    .quarto-title-author-email {
        font-size: 20px;
        font-family: monospace;
        color: blue;
    }
    p.date {
        font-size: 15px !important;
        font-family: monospace !important;
    }
    
}